.grin{
    background-color: rgb(9, 234, 9);
 text-align: center;
}
.yashl{
    background-color: greenyellow;
}

.wihit{
    background-color: white;
}
body{
    background-color: azure;
}